*.pkl filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# Exclude specific prediction models from LFS to ensure Vercel can load them directly
Models/ml_model.pkl !filter -text
Models/ml_vectorizer.pkl !filter -text
Models/nn_model.pkl !filter -text
